<form method="post" action="{{ path('app_coaching_delete', {'idS': coaching.idS}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coaching.idS) }}">
    <button class="btn">Delete</button>
</form>
