{% extends 'base-front.html.twig' %}

{% block title %}New Coaching{% endblock %}

{% block body %}
    <h1>Create new Coaching</h1>

    {{ include('coaching/_form.html.twig') }}

   
{% endblock %}
